
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 40px;
}

.social {
  display: flex;
  gap: 10px;
  flex: 1;
}

.logo {

  flex: 1;
  text-align: center;
  font-size: 36px;
  font-weight: bold;;
}

.links {
  display: flex;
  align-items: space;
  justify-content: flex-end;
  gap: 20px;
  flex: 1;
  text-decoration: none;
}

@media screen and (max-width:1280px) {
  .social {
    gap: 15px;
    font-size: 18px;
  }

  .logo {
    font-size: 32px;
  }
}

@media screen and (max-width:1024px) {
  .logo {
    font-size: 25px;
    text-align: left;
  }

  .social {
    display: none;
  }
}

@media screen and (max-width:768px) {
  .logo {
    font-size: 24px;
  }

  .links {
    justify-content: flex-end;
  }

  .link {
    display: none;
  }
}